$typographies = {
  'Nexa-Light': {
    font-family: unquote('\'Nexa\', sans-serif'),
    font-weight: 300
  },
  'Nexa-Bold': {
    font-family: unquote('\'Nexa\', sans-serif'),
    font-weight: 700
  },
  'Aristotelica': {
    font-family: unquote('\'Aristotelica Display\', sans-serif'),
    font-weight: 200
  }
}

typography($typography)
  $styles = $typographies[$typography]
  if ($styles == null)
    error('Can\'t find typography into typographies map.')
  { $styles }
